# Кортежи

упорядоченный неизменяемый набор объектов, в который могут одновременно входить объекты разных типов (числа, строки и другие структуры, в том числе и кортежи)

использует меньше памяти, чем список

вместо квадратных скобок использует круглые (можно совсем без скобок)

не допускает изменений, в него нельзя добавить новый элемент, хотя он может содержать объекты, которые можно изменить

In [3]:
t = 1,[2,3] 
t

(1, [2, 3])

In [4]:
type(t)

tuple

In [5]:
t[1] = 2

TypeError: 'tuple' object does not support item assignment

In [6]:
t[1].append(4)
t

(1, [2, 3, 4])

In [7]:
tuple('abc')

('a', 'b', 'c')

In [8]:
t = (x, s1, y, s2) = (12, 'b', 34.6, 'derevo')
print(x)
x = 4
print(x)
print(t)

12
4
(12, 'b', 34.6, 'derevo')

In [9]:
t = ()
t

()

In [10]:
divmod(5, 3)

(1, 2)

In [11]:
t1 = (1, 2, 3)
t2 = ('a', 'b') 
t3 = t1 + t2
t3

(1, 2, 3, 'a', 'b')

In [12]:
t1 = ('one', 'two')
t4 = t1 * 3
t4

('one', 'two', 'one', 'two', 'one', 'two')

In [16]:
t3[2]

3

In [14]:
t3[-2]

'a'

In [17]:
t3[1::2]

(2, 'a')

In [18]:
min(t4)

'one'

In [19]:
max(t4)

'two'